name: Build

on:
  push:
    branches: main
  pull_request:
    branches: '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1
    - name: Install dependencies
      run: python -m pip install -U jupyterlab~=3.0 jupyter_packaging~=0.10
    - name: Build the extension
      run: |
        python -m pip install -e .
        jupyter labextension list 2>&1 | grep -ie "{{ cookiecutter.labextension_name }}.*OK"
        python -m jupyterlab.browser_check
        jupyter labextension develop . --overwrite
